<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title> Kitchen </title>
    <style>
      * {
        font-size: 10px;
        font-family: "Times New Roman";
      }

      .ticket {
        width: 250px;
        max-width: 100%;
        margin: 0 auto;
        text-align: left;
      }

      .ticket .centered{
        font-size: 12px;
        font-weight: bold;
      }
  

      th {
        border-top: 1px dashed black;
        border-bottom: 1px dashed black;
        border-collapse: collapse;
      }

      td.description,
      th.description {
        width: 75px;
        max-width: 75px;
      }

      td.quantity,
      th.quantity {
        width: 40px;
        max-width: 40px;
        word-break: break-all;
      }


      .centered {
        text-align: center;
        align-content: center;
      }

      .horizontal-line {
        border-top: 1px dashed #000;
      }


      @media print {
        .hidden-print,
        .hidden-print * {
          display: none !important;
        }
      }
    </style>
  </head>
  <body>
    <div class="ticket">
      <p class="centered"> Highlands Indian Cuisine</p>
      <table>
        <thead>
          <tr>
            <th class="quantity">Qty.</th>
            <th class="description">Items</th>
          </tr>
        </thead>
        <tbody>
          <% JSON.parse(metadata).forEach((item) => { %>
            <% if (item.cid === customer) { %>
              <% item.data.forEach((dataItem,index) => { %>
          
                  <tr >
                      <td ><%= dataItem.quantity %></td>
                      <td><%= dataItem.title %><br/>
                      <% if (dataItem.addon && dataItem.addon.length > 1) { %>
                        (<%= dataItem.addon.map(addon => addon.title).join(', ') %>)
                      <% } %>
                    </td>
                  </tr>
              <% }); %>
            <% } %>
          <% }); %>
        </tbody>
      </table>
      <div class="horizontal-line"></div>
  </body>
</html>
