<form class="grid grid-cols-1 gap-6 ml-16 mt-8 md:grid-cols-2">
  <div>
    <label class="block mb-2 text-sm text-gray-600">Landing Title</label>
    <input
      type="text"
      placeholder="Title"
      class="block w-full px-5 py-3 mt-2 text-gray-700 placeholder-gray-400 bg-white border border-gray-200 rounded-md focus:border-green-400 focus:ring-green-400 focus:outline-none focus:ring focus:ring-opacity-40"
    />
  </div>

  <div>
    <label class="block mb-2 text-sm text-gray-600">Location</label>
    <input
      type="text"
      placeholder="Description"
      class="block w-full px-5 py-3 mt-2 text-gray-700 placeholder-gray-400 bg-white border border-gray-200 rounded-md focus:border-green-400 focus:ring-green-400 focus:outline-none focus:ring focus:ring-opacity-40"
    />
  </div>

  <button
    class="flex items-center justify-center h-12 w-52 px-6 py-3 text-sm tracking-wide text-white capitalize transition-colors duration-300 transform bg-green-500 rounded-md hover:bg-green-400 focus:outline-none focus:ring focus:ring-green-300 focus:ring-opacity-50"
  >
    <span>Change Landing text </span>
  </button>
</form>

<form class="grid grid-cols-1 gap-6 ml-16 mt-8 md:grid-cols-2">
  <div>
    <label class="block mb-2 text-sm text-gray-600">Reserver Now</label>
    <input
      type="text"
      placeholder="Title"
      class="block w-full px-5 py-3 mt-2 text-gray-700 placeholder-gray-400 bg-white border border-gray-200 rounded-md focus:border-green-400 focus:ring-green-400 focus:outline-none focus:ring focus:ring-opacity-40"
    />
  </div>

  <div>
    <label class="block mb-2 text-sm text-gray-600">Order Online</label>
    <input
      type="text"
      placeholder="order"
      class="block w-full px-5 py-3 mt-2 text-gray-700 placeholder-gray-400 bg-white border border-gray-200 rounded-md focus:border-green-400 focus:ring-green-400 focus:outline-none focus:ring focus:ring-opacity-40"
    />
  </div>

  <div>
    <label class="block mb-2 text-sm text-gray-600">Gift</label>
    <input
      type="text"
      placeholder="gift"
      class="block w-full px-5 py-3 mt-2 text-gray-700 placeholder-gray-400 bg-white border border-gray-200 rounded-md focus:border-green-400 focus:ring-green-400 focus:outline-none focus:ring focus:ring-opacity-40"
    />
  </div>

  <button
    class="flex items-center justify-center h-12 w-52 px-6 py-3 text-sm tracking-wide text-white capitalize transition-colors duration-300 transform bg-green-500 rounded-md hover:bg-green-400 focus:outline-none focus:ring focus:ring-green-300 focus:ring-opacity-50"
  >
    <span>Change About text </span>
  </button>
</form>
